

.inter-font {
  font-family: "Inter", "Miama", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}





*{
    margin: 0;
    padding: 0;
}

.header_part{
    height: 770px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 800%);

    
}



/* Shared Colour */

.color-orange{
    color: #E6533C;
}

.color-white{
    color: #FFFFFF;
}
 
.brand_name{
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.nav_items{
    display: flex;
    justify-content: space-between;
    padding: 57px 150px;
    
   
}

.nav_items ul{
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    margin: 0 10px;
    

}
.nav_items ul li {
    
    padding: 0 50px;
    list-style: none;
    
    
    
}

.nav_items ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    
    
    
}

.first_navlink{
    background-color: #E6533C;
    padding: 8px 25px;
    border-radius: 45px;
}
.img-area img{
    width: 100%;
   
}

.second_part{
  display: flex;
  justify-content: space-between;
  padding: 30px 150px;
  
}

.text-area{
    font-size: 40px;
    color: white;
}

.description{
    color: #FFFFFF80;
    font-size: 16px;
    padding: 20px 0;
}

.button_one{
    padding: 16px 40px;
    border-radius: 40px;
    background-color: #E6533C;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
}
.button_two{
    padding: 16px 40px;
    border-radius: 40px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    border: 1.5px solid #FFFFFF;
    

}
